@using SUPPORTMVC.ENTITIES.DBTO
@model LoginViewModel
@{
    ViewBag.Title = "HBSoft Yazılım&Danışmanlık | Şifremi Unuttum?";
    Layout = null;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "m-login__form m-form" }))
{
    <div class="form-group m-form__group">
        <input type="text" class="form-control m-input" name="Email" id="txtsifremiunuttummail" placeholder="E-mail" autocomplete="off" />
    </div>
    <div class="m-login__form-action">
        <button type="button" class="btn btn-info m-btn m-btn--pill m-btn--custom m-btn--air m--font-bolder" onclick="ForgotPasswordFunc(this, 'forgotPassword');">Gönder</button>
        <button id="m_login_forget_password_cancel" class="btn btn-outline-info m-btn m-btn--pill m-btn--custom m--font-bolder">İptal</button>
    </div>
}
