@using SUPPORTMVC.BLL
@using SUPPORTMVC.ENTITIES.DBT
@model Requests
@{
    RequestManager rm = new RequestManager();
    List<Users> userlist = rm.GetReqUser();
    int loggeduser = SUPPORTMVC.COMMON.App.Common.GetUserID().Value;
    List<AttendantParameter> ap = rm.GetReqAttendantParameter();
}
<script>
    $(document).ready(function() {
        $('#TakeRequestAttendantForm input').on('change',
            function() {
                var y = $('input[name=example_3]:checked', '#TakeRequestAttendantForm').val();

                if (y <= 1) {
                    $('#DivRequestAttendantMe').show();
                    $('#DivRequestAttendantOther').attr("style", "visibility:hidden");
                }
                if (y == 2) {
                    $('#DivRequestAttendantOther').attr("style", "visibility:visible");
                    $('#DivRequestAttendantMe').hide();

                }
            });
    });
</script>


<form id="TakeRequestAttendantForm">
    <div class="form-group m-form__group row">
        <div class="col-lg-12">
            <h6 class="modal-title">Görevlendirilecek Kişiyi Seçiniz</h6>
            <hr />
        </div>

    </div>
    <div class="form-group m-form__group row">
        <div class="col-md-6">
            <div class="m-radio-list">
                <div class="m-form__control m-radio-inline">
                    <label class="m-radio">
                        <input type="radio" id="TakeRequestSelectedValue" name="example_3" value="1" checked>
                        Ben
                        <span></span>
                    </label>
                    @foreach (AttendantParameter atp in ap)
                    {
                        if (!String.IsNullOrEmpty(atp.AttendantDifferentAuth.ToString()) && atp.AttendantDifferentAuth != 0)
                        {
                            <label class="m-radio">
                                <input type="radio" id="TakeRequestSelectedValue2" name="example_3" value="2">
                                Başkası
                                <span></span>
                            </label>
                        }
                    }
                    @foreach (Users usr in userlist)
                    {
                        if (usr.UserID == loggeduser)
                        {
                            if (usr.RoleID >= 4)
                            {
                                <label class="m-radio">
                                    <input type="radio" id="TakeRequestSelectedValue2" name="example_3" value="2">
                                    Başkası
                                    <span></span>
                                </label>
                            }
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group m-form__group row">

        <label class="col-lg-2 col-form-label m--font-bolder">Yetkili Kişiler:</label>
        <div class="col-md-4" id="DivRequestAttendantMe">
            <select class="form-control m-input m--font-boldest2" id="RequestAttendantMe">
                @foreach (Users usr in userlist)
                {
                    if (usr.UserID == loggeduser)
                    {
                        <option value="@usr.UserID" selected>@usr.UName @usr.USurname</option>
                    }
                }

            </select>
        </div>
        <div class="col-md-4" id="DivRequestAttendantOther" style="visibility: hidden">
            <select class="form-control m-input m--font-boldest2" id="RequestAttendantOther">
                <option value="0" selected disabled>Seçiniz</option>
            </select>
        </div>
    </div>
    <hr />
    @Html.HiddenFor(x => Model.RequestID)
    <div class="form-group m-form__group row float-right m--margin-right-65 m--margin-top-5" style="margin-bottom: -1%">
        <button type="button" id="RequestAttendantButton" class="btn btn-info m--font-boldest" style="width: 10rem" onclick="TakeRequestAttendant(this,'TakerequestAttendant');"> Görevlendir </button>
    </div>
</form>

@*<script src="~/TODO_JS/RequestCommentShowField.js"></script>*@
<script src="~/TODO_JS/TakeRequestFilterOwner.js"></script>